.alertBar {
    display: fixed;
    height: 50px;
    width: 100vw;
    background-color: #ff7675;
    color: #fff;
    font-weight: 500;
}

.alertBarContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.alertBarContent>* {
    padding: 10px;
}

.closeAlertButton {
    justify-self: flex-end;
    border: none;
    background-color: transparent;
    cursor: pointer;
}