html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Arial", Serif;
}

.container-page {
  height: 100%;
  width: 100%;
  display: flex;
  overflow-x: hidden;
}

/*** Sidebar ***/

.sidebar {
  flex: 1;
  height: 100%;
  width: 100%;
  max-width: 240px;
  margin-right: -240px;
  display: block;
  background-color: #78e08f;
  color: #f4f4f4;
}

.sidebar a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #f4f4f4;
  display: block;
  transition: 0.3s;
}

.sidebar-vertical-aligner {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*** Content ***/

.container-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  flex: 3;
}

/*** Header ***/

.header {
  display: flex;
  flex-direction: row;
  background-color: #78e08f;
  color: #f4f4f4;
}

.header ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 5px;
  font-size: 1.1em;
}

.header ul li:hover {
  cursor: pointer;
  color: #b8e994;
}

.header-links {
  display: flex;
  justify-content: flex-start;
  flex: 3;
}

.header-hamburger-button {
  display: flex;
  padding: 10px 10px;
  flex: 1;
  justify-content: flex-end;
}

.header-hamburger-button:hover {
  display: flex;
  padding: 10px 10px;
  flex: 1;
  justify-content: flex-end;
  cursor: pointer;
  color: #b8e994;
}

/*** Main ***/

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* grid */

.grid {
  display: flex;
  align-self: center;
  justify-self: center;
  flex-direction: column;
  /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  /* flex-wrap: wrap; */
}

.box {
  display: inline-block;
  min-width: 170px;
  max-width: 250px;
  min-height: 100px;
  background-color: #78e08f;
  margin: 5px;
  border-radius: 5px;
}

/* cards */

.container-cards {
  display: flex;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-width: 70%;
  flex-wrap: wrap;
}

.card {
  background-color: #f5f6fa;
  border-color: #dcdde1;
  border-radius: 5px;
  min-height: 250px;
  max-width: 250px;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 5px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #0c140e;
  border-radius: 5px;
}

.card:hover .overlay {
  opacity: 0.7;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-image {
  height: 150px;
  width: 250px;
  background-color: #78e08f;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  align-self: flex-start;
}

.card-info {}

/*** Footer ***/

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #78e08f;
  color: #f4f4f4;
  flex-shrink: 0;
}

.footer ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 5px;
  font-size: 1.1em;
}

.footer ul li:hover {
  cursor: pointer;
  color: #b8e994;
}

/*** Custom SVG ***/

.custom-svg {
  max-width: 30px;
  color: white;
}

/*** Form ***/

.form-item {
  border-color: #78e08f;
  border-style: solid;
  border-width: 1px;
  height: 30px;
  margin-top: 5px;
}

.form-button:hover {
  background-color: #e0fde7;
  cursor: pointer;
}

#progress {
  align-self: center;
  color: #78e08f;
  font-size: 2.5em;
}